* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

input:focus,
button:focus {
    outline: none;
}

input,
button {
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

#movies-list {
    margin-left: 20px;
}

.movie {
    margin-bottom: 10px;
}

.language {
    margin-bottom: 5px;
}

.language img {
    height: 20px;
    position: relative;
    top: 5px;
}

.rating i {
    color: #eaea0b;

}


