* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input:focus,
button:focus {
    outline: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

input,
button {
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

#movies-list {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    width: 250px;
    height: 400px;
    margin: 5px;
    transition-duration: 0.4s;
}

.movie:hover{
    transform: scale(1.05);
    z-index: 3;
}

.movie:hover .layer,
.movie:hover .movie-data{
    opacity: 1;
}

img.poster {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.layer {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000b3;
    transition-duration: 0.4s;
    
}

.movie-data{
    padding: 10px;
    opacity: 0;
    color: white;
    position: absolute;
    transition-duration: 0.4s;
}

.language {
    margin-bottom: 5px;
}

.language img {
    height: 20px;
    position: relative;
    top: 5px;
}

.rating i {
    color: #eaea0b;
}


.movies {
    background-color: lightgreen;
}

.series {
    background-color: tomato;
}


