* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input:focus,
button:focus {
    outline: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
}

nav .container {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .left span {
    color: red;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 37px;
}

input {
    padding: 5px;
    color: #e74c3c;
    border: none;
    border-bottom: 1px solid #e74c3c;
    background-color: transparent;
}

button {
    background-color: #e74c3c;
    border: none;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid #e74c3c;
}

button:active{
    background-color: #e8210c;
}

main {
    background-color:gray;
    color: black;
    position: relative;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
}

#movies-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#error {
    padding: 5px;
}

.movie-container {
    position: relative;
    width: 20%;
    height: 400px;
    padding: 5px;
    transition-duration: 0.4s;
}

.movie {
    height: 100%;
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.movie-container:hover{
    transform: scale(0.95);
    z-index: 3;
}

.movie-container:hover .layer,
.movie-container:hover .movie-data{
    opacity: 1;
}

img.poster {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.layer {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.movie-data{
    padding: 10px;
    opacity: 0;
    color: white;
    position: absolute;
    transition-duration: 0.4s;
}

.language {
    margin-bottom: 5px;
}

.language img {
    height: 20px;
    position: relative;
    top: 5px;
}

.rating i {
    color: #eaea0b;
}

.wide {
    width: 40%;
}


